<table border="1px" id="get" class="table table-stripped">
    <thead class="thead-dark">
        <tr>
            
            <th>Product id</th>
            <th>Product category</th>
            <th>Product SubCategory</th>
            <th>Product Description</th>
            <th>Product name</th>
            <th>Product price</th>
            <th>Unit stock</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let product of products">
        <tr >
            
            <td>{{product.productId}}</td>
           
            <td>{{product.productCategory}}</td>
            <td>{{product.productSubCategory}}</td>
            <td>{{product.productDescription}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.productPrice}}</td>
            <td>{{product.unitStock}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteProduct(product.productId)"><span class="glyphicon glyphicon-remove"></span>Delete</button></td>
        </tr>
    </tbody>
</table>
